<div class = "form-group">
  <%= form_for @place do |f| %>
    Title:
    <%= f.text_field :title, class: "form-control" %>
    <%= f.hidden_field :coordinates, class: "form-control coordinates" %>
    Content: 
    <%= f.text_area :content, :class => "edit-place", :rows => 40, :cols => 120  %>
    <%= f.submit "Изменить", class: "btn btn-default" %>
  <% end %>
</div>
