<div class = "form-group">
  <%= form_for place do |f| %>
    Title:
    <%= f.text_field :title, class: "form-control" %> <br>
    <%= f.file_field :image %> <br> 
    <%= f.hidden_field :coordinates, class: "form-control coordinates" %>
    Content: 
    <%= f.text_area :content, :class => "redactor", :rows => 40, :cols => 120  %>
    <%= f.submit "Добавить", class: "btn btn-default" %>
  <% end %>
</div>
