<div class = "place-content">
  <h3> <%= @place.title %> </h3>
  <%= image_tag @place.image.url %>
  <%= @place.content.html_safe %>
  <% if @place.user == current_user %>
    <%= link_to "Удалить", place_path(@place), method: :delete, class: "btn btn-default" %>
    <button type="button" class="btn btn-default" data-action="place_edit" data-url="<%=edit_place_path(@place)%>">Редактировать</button>
  <% end %>
</div>