<!DOCTYPE html>
<html>
<head>
  <title>Mymap</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=init"type="text/javascript"></script>
</head>
<body>


<div class = "container">

  <%= yield %>

</div>

</body>
</html>
